@model IEnumerable<Furniture>
@{ ViewData["Title"] = "Детали заказа"; }
<div class="container pt-1">
    <div class="row text-center text-dark mb-1">
        <div class="col-lg-7 mx-auto">
            <h1 class="display-4">Детали заказа</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <ul class="list-group shadow">
                @{
                    var fullCost = 0.0;
                    foreach (var product in Model)
                    {
                        fullCost += product.Cost;
                        <li class="list-group-item pb-1 mb-1">
                            <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                                <div class="media-body order-2 order-lg-1">
                                    <h5 class="mt-0 font-weight-bold mb-2">@product.ProductName</h5>
                                    <p class="font-italic text-muted mb-0 small">@product.Category.CategoryName | @product.Size | Вес @product.Weight</p>
                                    <div class="d-flex align-items-center justify-content-between mt-1">
                                        <h6 class="font-weight-bold my-2">Цена @product.Cost.ToString("C")</h6>
                                    </div>
                                </div>
                                <img src="@product.Img" alt="Generic placeholder image" height="130" width="200" class="ml-lg-5 order-1 order-lg-2">
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>